{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap %}
    <body style="background: lightseagreen">
        <ul class="list-group" style="width: 80%; margin: 2% 10% 2% 10%;">
            <li class="list-group-item">
                <div class="jumbotron">
                    <h1 align="center">Password successfully changed!</h1>
                </div>
                <div align="center"><a role="button" class="btn btn-success" href="{% url 'index' %}">Go back to library</a></div>
            </li>
        </ul>

    </body>
{% endblock %}