{% extends "base_generic.html" %}
{% load bootstrap %}
{% block content %}

    <body style="background: lightseagreen">
    <ul class="list-group" style="width: 80%; margin: 2% 10% 2% 10%;">
        <li class="list-group-item">
            <div class="jumbotron">
                <h1 align="center">Password reset</h1>
            </div>
            {% if validlink %}
                <p align="center">Please enter your new password.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div>{{ form.new_password1.errors }}</div>
                    <label for="id_new_password1">New password:</label></td>
                    <div>{{ form.new_password1|bootstrap }}</div>

                    <div>
                        {{ form.new_password2.errors }}</div>
                    <label for="id_new_password2">Confirm password:</label>
                    <div>{{ form.new_password2|bootstrap }}</div>



                        <p align="center"><input class="bth bth-success" type="submit" value="Change my password"/></p>

                </form>
                </li>
                </ul>
                </body>
            {% else %}
                <h1 align="center">Password reset failed</h1>
                <p align="center">Please request a new password reset.</p>
            {% endif %}

{% endblock %}
