{% extends "base_generic.html" %}


{% block content %}
    <h1>{{ document.title }}</h1>
    <h4>{{ document.type }}</h4>
    <p><strong>Authors:</strong> <a href=""></a> {% for author in document.authors.all %}
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>

        {% if not forloop.last %},{% else %}{% endif %}
    {% endfor %}</p>
    <p><strong>Description:</strong> {{ document.description }}
    <p><strong>Tags:</strong> {% for tag in document.tags.all %}
        {{ tag }}
        {% if not forloop.last %},{% else %}{% endif %}
    {% endfor %}
        {% if user.is_authenticated %}

            <h2>Copies of this {{ document.type }}</h2>
            {% if copy_list %}
                <ul>

                    {% for copy in copy_list %}
                        <li>
                            <h3>{{ copy.document.title }}</h3>
                            <p><strong>Location: </strong>
                            <ul>
                                <li><strong>Level: </strong> {{ copy.location.level }}</li>
                                <li><strong>Room: </strong> {{ copy.location.room }}</li>
                            </ul>
                            {% if copy.status == 'a' %}
                            <p><strong>Status: </strong>Available </p>
                                <p style="text-align: center"> Book </p>
                                <!--TODO:  Assign procedure to the book button-->
                            {% elif copy.status == 'g'%}
                                <p><strong>Status: </strong>Given out </p>
                                <p><strong>Will be available on </strong> {{ copy.due_back }}</p>
                            {% elif copy.status == 'r'%}
                                <p><strong>Status: </strong>Reserved </p>
                            {% else %}
                                <p><strong>Status: </strong>Maintenance </p>
                            {% endif %}
                            {% if not forloop.last %},{% else %}{% endif %}

                        </li>
                    {% endfor %}

                </ul>
            {% else %}
                <p>There are no copies in the library yet</p>
            {% endif %}
            <p style="text-align: center">
            </p>
        {% else %} <p>To check out that {{ document.type }} you need to login</p>{% endif %}

{% endblock %}
