{% extends "base_generic.html" %}

{% block content %}
    <h1>Documents</h1>

    {% if document_list %}
        <ul>

            {% for document in document_list %}
                <li>
                    <a href="{{ document.get_absolute_url }}">{{ document.type }} {{ document.title }} </a>
                    ({% for author in document.authors.all %}
                    <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                    {% if not forloop.last %},{% else %}{% endif %}
                {% endfor %})
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no documents in the library yet</p>
    {% endif %}
{% endblock %}
