<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copies of {{ documentinstance.document.title }}</title>
    {% if document_instance %}
        <ul>

            {% for documentinstance in document_instance %}
                {% if documentinstance.id == documentinstance.document.id %}
                <li>
                    <P> {{ documentinstance.document.title }} {{ documentinstance.location }} {{ documentinstance.status }}</P>
                    <a href=""> Check it out</a>

                </li>
                {% endif %}
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no documents in the library yet</p>
    {% endif %}
</head>
<body>

</body>
</html>