{% extends "base_generic.html" %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile of {{ user.get_username }}</title>
</head>
{% block content %}
<body>
    <h1> Hello, {{ user.get_username }}!</h1>
    <h2> Your personal info:</h2>
    <ul>
        <li><strong> First name: </strong> {{ user.first_name }}</li>
        <li> <strong>Last name: </strong>{{ user.last_name }}</li>
        <li> <strong>Email: </strong>{{ user.email }}</li>
        {% if user.is_staff == 1 %}
            <li> <strong>Profile type:</strong> Staff member</li>
            {% else %}
            <li> <strong>Profile type:</strong> Library user</li>
        {% endif %}
    </ul>
    <a href="{% url 'index' %}"> Home page </a>
</body>
{% endblock %}
</html>